
body, h1, h2, h3, p, ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    margin: 0;
}

header {
    background-color: #003366;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0px 5px 15px rgba(0, 51, 102, 0.1);
}

header div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header img {
    max-width: 100px;
    height: auto;
    margin-bottom: 10px;
}

.header-text {
    text-align: center;
}

header span, span.admin-title {
    font-size: 1.2em;
}

span.admin-title {
    color: red; 
    font-weight: bold;
    margin-top: 5px; 
}

nav {
    background-color: #001a33;
    padding: 10px;
    text-align: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

nav .dropdown {
    position: relative;
    display: inline-block;
}

nav .dropdown-content {
    display: none;
    position: absolute;
    background-color: #003366;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

nav .dropdown-content a {
    color: #fff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

nav .dropdown:hover .dropdown-content {
    display: block;
}

.container {
    display: flex;
    justify-content: space-around;
    margin: 20px;
    overflow-x: auto;
}

.box {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    flex: 0 0 calc(20% - 20px);
    margin: 20px;
    cursor: pointer;
    transition: transform 0.3s;
}

.box:hover {
    transform: scale(1.05);
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
    border: 2px solid #003366;
}

.box i {
    font-size: 3em;
    margin-bottom: 10px;
    color: #003366;
    border-color: transparent; 
}

.box:hover i {
    border-color: #003366;
}

.delete-btn {
    color: #fff;
    background-color: #dc3545;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s;
}

.delete-btn:hover {
    background-color: #c82333;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    color: #495057;
    margin: 0;
}

h2 {
    color: #28a745;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

table {
    width: 80%;
    border-collapse: collapse;
    margin : auto;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    border-radius: 10px;
    overflow: hidden;
}

th {
    border: 1px solid #dee2e6;
    padding: 12px;
    text-align: center;
    white-space: nowrap;
    background-color: #003366;
    color: #ffffff;
}

td {
    border: 1px solid #dee2e6;
    padding: 1px;
    text-align: center;
    white-space: nowrap;
}


tbody tr:nth-child(even) {
    background-color: #f1f1f1;
}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

select, .update-btn, .delete-btn {
    margin: 5px;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    flex: 1;
}

.update-btn {
    background-color: #ffc107;
    color: #000;
    border: none;
    cursor: pointer;
}

.update-btn:hover {
    background-color: #ffca2c;
}

.delete-btn {
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.delete-btn:hover {
    background-color: #c82333;
}

@media screen and (max-width: 600px) {
    table {
        font-size: 14px;
    }

    th, td {
        padding: 10px;
    }

    select, .update-btn, .delete-btn {
        width: 100%;
        margin: 5px 0;
    }
}
